    <!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Подвал 1</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<button class="cart" id="cart">
  <img class="cart__image" src="./images/cart.png" alt="Cart" />
  <div class="cart__num" id="cart_num">0</div>
</button>
 <header>
      <h1 class="prodazha">Продажа подвалов "BabyBuild"</h1>
      <nav>
        <ul>
          <li><a href="index.html">Главная</a></li>
          <li><a href="pp2.html">О нас</a></li>
          <li><a href="pp3.html">Контакты</a></li>
            <li><a href="pp1.html">Все продукты</a></li>
            <li><a href="Logg.html">Вход</a></li>
        </ul>
      </nav>
    </header>
<div class="productS">
  <img src="../proj/img/p3/images.jpg" alt="Product Image" height="150" width="200">
  <h2>Product Name</h2>
  <p>Description of the product.</p>
  <p>Price: $19.99</p>
  <button>Add to Cart</button>
</div>
</body>
</html>