{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" href="{% static '/style/components.css' %}" rel="stylesheet" />

    <link rel="stylesheet" href="{% static '/style/auto.css' %}">
    <title>Art Life</title>
</head>
<body>
    <header>
            <h1>Art Life</h1>
            <nav>
                <a href="{% url 'katalog' %}" class="nav_item">Каталог</a>
                <a href="{% url 'index' %}" class="nav_item">Главная</a>
                <a href="#" class="nav_item">Контакты</a>
            </nav>
            <a href="{% url "AuthReg:auth_check" %}"><img src="{% static "img/icon_aut.png" %}" alt="Регистрация"></a>
    </header>
    <main>
        <div class="content">
            <div class="menu_auto">
                <form action="{% url 'AuthReg:login' %}" method="POST">
                        {% csrf_token %}
                    <div class="form">
                        <input type="text" placeholder="Юзер" class="form-control py4" name="username">
                    <input type="email" placeholder="Почта" class="form-control py4" name="email">
                    <input type="password" placeholder="Пароль" class="form-control py4" name="password">


                 <button>Войти </button>
                        <a href="{% url 'AuthReg:registration' %}">Регистрация</a>
                    </div>
            </form>

            </div>
        </div>


        

    </main>
    <footer>
        <p> Лабораторная работа</p>
        <p> Иванов Владислав и Соловьёв Дмитрий</p>
        <p> ИСП/Р-22-11</p>
    </footer>

    
</body>
</html> 